{% extends "base.html.twig" %}

{% block body %}
    {% if allPost is empty %}
        No post yet.
    {% else %}
        <div>
            {% for post in allPost %}
                <div>
                    <p>{{ post.getTitle() }}</p>
                    <p>{{ post.getContent() }}</p>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
