{% extends "base.html.twig" %}

{% block body %}
    <div>
        <div>
            <p>{{ post.getTitle() }}</p>
            <p>{{ post.getContent() }}</p>
        </div>
        <section>
            {% for comment in post.getComments() %}
                <div>
                    <p>{{ comment.author }}</p>
                    <p>{{ comment.content }}</p>
                </div>
            {% endfor %}
        </section>
    </div>
{% endblock %}